@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Prompt:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    padding: 10px;
    margin-top: 40px;
    font-size: 50px;
    margin-left: 100px;
}
h2{
    margin-top: 35px;
    font-size: 25px;
    margin-top: 12px;
}
button{
    border-radius: 50px;
    margin-top: 13px; 
    height: 60px;
    width: 190px;
}
.topo{
display: flex;
height: 12vh;
width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 38, 145);
    height: 12vh;
    width: 100%;
}
.meio{
    display: flex;
    height: 70vh;
    width: 100%;
}
.conteudo{
    background-color: black;
    background-image: url('../Imagens/BOHN’S\ TECHS\ image\ fundo.jpg');
    height: 88vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
#nav-list {
    align-items: center;
    text-align: center;
    color: white;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin: auto;
    cursor: pointer;
    position: fixed;
  }
  .button2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button2 button{
    background-color: rgb(46, 38, 145);
    cursor: pointer;
  }

  .saibamais{
    height: 75px;
    margin-top: 30px;
   margin-left: 40px
  }  
  .menu-btn {
    background-color:  rgb(46, 38, 145);
    color: white;
    font-size: 45px;
    border: none;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%; 
    background-color:  rgb(46, 38, 145);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.menu-container a {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-decoration: none;
}

.menu-container.open {
    left: 0;
   
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color:  rgb(46, 38, 145);
    color: white;
    font-size: 45px;
    border: none;
    cursor: pointer;
}

  h1 {
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
  }
  