* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    padding: 10px;
    margin-top: 40px;
    font-size: 50px;
    margin-left: 100px;
}

h2 {
    margin-top: 35px;
    font-size: 25px;
    margin-top: 12px;
}

button {
    border-radius: 50px;
    margin-top: 13px;
    height: 60px;
    width: 190px;
}

.topo {
    display: flex;
    height: 12vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 38, 145);
    height: 12vh;
    width: 100%;
}

#nav-list {
    align-items: center;
    text-align: center;
    color: white;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin: auto;
}

.menu-btn {
    background-color: rgb(46, 38, 145);
    color: white;
    font-size: 45px;
    border: none;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: rgb(46, 38, 145);
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.menu-container a {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    text-decoration: none;
}

.menu-container.open {
    left: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgb(46, 38, 145);
    color: white;
    font-size: 45px;
    border: none;
    cursor: pointer;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    height: 88vh;
    width: 100%;
}

/* Estilos para a div .esquerda */
.esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 33%;
    box-sizing: border-box;
}

.imgEsquerda {
    width: 90%;
    height: 250px;
    margin-top: -50px;
}

.h2Esquerda {
    font-size: 44px;
    line-height: 2.0;
    color:rgb(46, 38, 145);
    text-align: center;
}

.buttonEsquerda {
    border-radius: 50px;
    height: 80px;
    width: 280px;
    background-color: rgb(46, 38, 145);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 1.2;
    padding: 10px;
}

/* Estilos para a div .meio */
.meio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:white;
    height: 100%;
    width: 34%;
     padding: 20px; 
    box-sizing: border-box;
}

.imgMeio {
    width: 90%;
    height: 300px;
    margin-top: -50px; 
}

.h2Meio {
    font-size: 33px;
    line-height: 1.8;
    color:  rgb(46, 38, 145);
    text-align: center;
}

.buttonMeio {
    border-radius: 50px;
    height: 80px;
    width: 280px;
    background-color: rgb(46, 38, 145);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 1.2;
    padding: 10px;
}

/* Estilos para a div .direita */
.direita {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.imgDireita {
    width: 70%;
    height: 200px;
     margin-bottom: 20px; 
}

.h2Direita {
    font-size: 34px;
    line-height: 2.0;
    color:  rgb(46, 38, 145);
    text-align: center;
}

.buttonDireita {
    border-radius: 50px;
    height: 80px;
    width: 280px;
    background-color: rgb(46, 38, 145);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 1.2;
    padding: 10px;
}
