@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: 'roboto';
}
@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-359deg);
	}
}


body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 96px;
    background-color: #29549A;
    filter: drop-shadow(0px 10px 4px #a1a1a1);
}


header div{
    display: flex;
    width: 33%;
}

#divone{
    justify-content: start;
}
#divtwo{
    justify-content: center;
}
#divthree{
    justify-content: end;
}

header img{
    height: 64px;
    filter: brightness(100);
}

header i{
    margin: 0px 32px 0px 32px;
    font-size: 32px;
    color: white;
    transition: 0.2s;
}

header #bar:hover{
    font-size: 40px;
}

main{
    margin: 112px 0 16px 0;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #29549A;
    filter: drop-shadow(0px -10px 4px #a1a1a1);
}

footer div{
    display: flex;
    justify-content: space-around;
    margin: 16px 0px 32px 0px;
    height: 100%;
    width: 33%;
    color: white;
    font-size: 20px;
    text-align: center;
}

footer img{
    height: 256px;
}

nav{
    position: fixed;
    height: 100vh;
    width: 15%;
    left: -15%;
    margin-top: 96px;
    z-index: 2;
    background-color: #173c77;
    transition: 0.5s;
}

nav div{
    display: flex;
    height: 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    transition: 0.2s;
}

nav div:hover{
    background-color: #0d2c5e;
    font-size: 32px;
    
}

nav i{
    font-size: 20px;
    margin-right: 8px;
}

#overlay{
    margin-top: 96px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: black;
    opacity: 0%;
    transition: 0.3s;
}

#planet{
    position: fixed;
    display: flex;
    aspect-ratio: 1/1;
    height: 40vw;
    left: 100vw;
    top: 100vh;
    z-index: 1;
    transition: 0.5s;
}

#imgplanet{
    height: 100%;
    animation: rotation 8s infinite  linear;
}

#imgfoca{
    position: absolute;
    height: 40%;
    width: auto;
    top: -25%;
    left: 5%;
    rotate: -10deg;
}
.container{
    display: flex;
    height: 225vh;
    width: 100%;
    flex-direction: column;
}
.titulo{
    text-align: center;
    height: 181px;
    width: 100%;
}
.titulo_h1{
    color: green;
    font-size: 55px;
}
.bloco2{
    display: flex;
    height: 260px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.bloco3{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.asp{
    margin-bottom: 40px;
    color: #dca600;
}
.pai_bloco4{
    margin: auto;
    width: 60vw;
    display: flex;
    gap: 20px;

    img{
        width: 900px;
        height: 250px;
    }
}
.bloco4{
    margin-top: 30px;
    height: 100px;
    width: 100%;
    text-align: center;
}
.prss{
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 900px;
}
.two{
    width: 1000px;
    height: 528px;
}
.dsm{
    margin-top: 40px;
    height: 80px;
}
.dsm2{
    height: 20px;
    margin: auto;
    margin-top: 30px;
}
.background{
    width: 100vw;
    height: 400px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo2 p {
    font-size: 36px;
    color: #DCA600;
}

.conteudo{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

    .boxtype1{
        background-color: #177AC3;
        color: white;
        font-size: 30px;
        width: 320px;
        height: 40px;
        text-align: center;
        border-radius: 20px 20px 0px 0px;
    }
    
.bottompart1{
    width: 312px;
    height: 190px;
    border-radius: 0px 0px 20px 20px;
    color: #177AC3;
    font-size: 16px;
    border: 4px solid;
}

.bottompart1 p {
    color: black;
    margin: 0px;
    margin-top: 7px;
}

.boxtype2{
    background-color: #0F9041;
    color: white;
    font-size: 30px;
    width: 320px;
    height: 40px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}

.bottompart2{
width: 312px;
height: 165px;
border-radius: 0px 0px 20px 20px;
color: #0F9041;
font-size: 16px;
border: 4px solid;
}

.bottompart2 p {
color: black;
margin-top: 7px;
}

.boxtype3{
    background-color: #B21826;
    color: white;
    font-size: 30px;
    width: 320px;
    height: 40px;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}

.bottompart3{
width: 312px;
height: 190px;
border-radius: 0px 0px 20px 20px;
color: #B21826;
font-size: 16px;
border: 4px solid;
}

.bottompart3 p {
color: black;
margin-top: 7px;
margin-left: 3px;
margin-right: 3px;
}
